[submodule "deps/screen-apps"]
	path = deps/screen-apps
	url = https://github.com/paxx12/screen-apps.git
[submodule "overlays/firmware-extended/37-feature-afc/root/home/lava/AFC-Klipper-Add-On"]
	path = overlays/firmware-extended/37-feature-afc/root/home/lava/AFC-Klipper-Add-On
	url = https://github.com/jimmyjon711/AFC-Klipper-Add-On
